<!DOCTYPE HTML>
<html>
<head>
  <title>商户明细</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jy.css" type="text/css" />
</head>
<body class="_checkDetail_page">
  <center>
    <div class="_checkDetail_1">
      <form action="{% url 'funbox_updateuser' %}" id="binfoForm" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="media-drop2">
          <div id="droppedimage2">
            <img src="{{ minfo.logo }}" id="userlogo" width="62px" height="62px" style="position:absolute;z-index:2;top:6px;left:50%;margin-left:-31px;border-radius:31px;border:1px solid #00A0E9">
          </div>
          <div id="dropbox2" class="media-drop-placeholder" style="position:relative;z-index:3;opacity:0;left:20px;">
            <input id="realUploadBtn2" name="media-drop-placeholder-file" type="file" accept="image/*" tabindex="-1"/>
          </div>
          <div style="position:relative;z-index:3;opacity:0;">
            <input type="hidden" id="fname2" value="_member_{{ minfo.memberid }}" />
            <input type="hidden" name="logo" id="filename2" value="{{ minfo.logo }}" />
            <button id="resetupload2" type="button" class="btn">重新上传</button>
          </div>
        </div>
      <h4 style="color:#2CA6E0;margin:20px 0 auto 0;font-size:1.6rem;">商户详情</h4>
      <table class="check_table_1">
        <tr>
          <td style="vertical-align:top;min-width:50px;">商户主图</td>
          <td colspan="3">
            <div class="media-drop1">
              <div id="droppedimage1"><img id="bigbanner" src="{{ minfo.pic }}" width="90%"/></div>
              <div id="dropbox1" class="media-drop-placeholder">
                <input id="realUploadBtn1" name="media-drop-placeholder-file" type="file" accept="image/*" tabindex="-1"/>
              </div>
              <input type="hidden" id="fname1" value="_member_{{ minfo.memberid }}" />
              <input type="hidden" name="pic" id="filename1" style="width:100%" value="{{ minfo.pic }}" />
              <button id="resetupload1" class="_upload_btn" type="button" class="btn">重新上传</span></button>
            </div>
          </td>
        </tr>
              <tr style="height:30px;">
                <td>商户描述</td>
                <td><input type="text" name="description" style="width:84%;color:#B4B4B5" value="{{ minfo.description }}" /></td>
              </tr>
              <tr style="height:30px;">
                <td>商户名称</td>
                <td><input type="text" name="name" value="{{ minfo.name }}" style="width:84%;color:#B4B4B5" /></td>
              </tr>
              <tr style="height:30px;">
                <td>商户地址</td>
                <td><input type="text" name="address" value="{{ minfo.address }}" style="width:84%;color:#B4B4B5" /></td>
              </tr>
              <tr style="height:30px;">
              	<td>登录密码</td>
                <td><input type="text" name="password" value="{{ minfo.password }}" style="width:84%;color:#B4B4B5" /></td>
              </tr>
              <tr style="height:30px;">
              	<td>商户电话</td>
                <td><input type="text" name="phone" value="{{ minfo.phone }}" style="width:84%;color:#B4B4B5" /></td>
              </tr>
              <tr style="height:50px;"><td colspan="2">
                <input type="hidden" name="memberid" value="{{ minfo.memberid }}" />
                <button type="submit" class="_check_btn">修改信息</button>
              </td></tr>
              <table class="_checkDetail_2">
              <tr style="height:22px;">
                <td style="width:63px;">唯一标识：</td>
                <td>{{ minfo.memberid }}</td>
                <td style="width:63px;">商户分类：</td>
                <td>{% if minfo.type == 0 %}代理商{% elif minfo.type == 1 %}购物{% elif minfo.type == 2 %}美食{% elif minfo.type == 3 %}丽人{% elif minfo.type == 4 %}旅行{% elif minfo.type == 5 %}休闲{% else %}其它{% endif %}</td>
              </tr>
              <tr style="height:22px;">
                <td>商户余额：</td>
                <td>{{ minfo.balance }}</td>
                <td>累计收入：</td>
                <td>{{ minfo.total }}</td>
              </tr>
              <tr style="height:22px;">
                <td>开户日期：</td>
                <td>{{ minfo.jointime }}</td>
                <td>优惠满减：</td>
                <td>{% if minfo.man == 0 %}无{% else %}满{{ minfo.man }}减{{ minfo.jian }}{% endif %}</td>
              </tr>
              <tr style="height:22px;">
                <td>评论打赏：</td>
                <td><a style="color:#00A0E9" href="../tip/">点击进入</a></td>
                <td>二维码页：</td>
                <td><a style="color:#00A0E9" href="../qrcode/?memberid={{ minfo.memberid }}">点击生成</a></td>
              </tr>
              <tr style="height:12px;">
              	<td colspan="4">&nbsp;</td>
              </tr>
              <tr style="height:26px;">
                <td colspan="4" class="wrap" style="border-top:1px solid #00A0E9;border-bottom:1px solid #00A0E9;color:#00A0E9;text-align:center;">提现帐号：{{ minfo.accountinfo }}</td>
              </tr>
            </table></form>
            <br/>
        </div>
        <div class="_checkDetail_3">
            <form action="/funbox/doout/" id="dooutForm" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" name="memberid" value="{{ minfo.memberid }}"/>
                <input class="_checkDetail_input_3" type="text" name="amount" placeholder="请输入要提现的金额"/>
                <button class="_check_btn" type="submit" value=""><span>申请提现</span></button>
        　　</form>
        </div>

        <div style="margin-top:20px;">
          <h4 style="margin:0 0 5px 0;color:#2CA6E0;">提现记录</h4>
          <table class="list_table" style="text-align:center;">
            <tr>
                <th style="text-align:center;">金额</th>
                <th style="text-align:center;width:100px;">到账账号</th>
                <th style="text-align:center;">日期</th>
                <th style="text-align:center;">状态</th>
            </tr>
            {% for o in outlist %}
            <tr>
                <td>{{ o.amount }}</td>
            	<td><p style="word-break:break-all;">{{ o.accountinfo }}</p></td>
            	<td>{{ o.date|date:"Y-m-d H:i:s" }}</td>
            	<td>{% if o.status == 0 %}申请中{% else %}已完成{% endif %}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div style="margin-top:20px;">
          <h4 style="margin:0 0 5px 0;color:#2CA6E0;">交易记录</h4>
          <table class="list_table">
            <tr>
                <th style="text-align:center;width:80px;">订单号</th>
                <th style="text-align:center;">用户</th>
                <th style="text-align:center;">渠道</th>
                <th style="text-align:center;">金额</th>
                <th style="text-align:center;">日期</th>
                <th style="text-align:center;">状态</th>
            </tr>
            {% for i in inlist %}
            <tr>
                <td><p style="word-break:break-all;">{{ i.orderid }}</p></td>
                <td>{{ i.userid }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.amount }}</td>
                <td>{{ i.date|date:"Y-m-d H:i:s" }}</td>
                <td>{% if i.status == 0 %}已退款{% else %}已到帐{% endif %}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      <br/>
    </center>
  <div align="center" style="color:#B4B4B5;font-size:12px;margin-top:25px;">本平台由<a style="color:#00A0E9" href="http://www.jyousoft.com">捷优软件</a>提供. <br/>Copyright 2013-2017. All rights reserved.</div>
  <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.html5uploader-1.1.js"></script>
  <script src="{{ STATIC_URL }}js/exif.js"></script>
  <script src="{{ STATIC_URL }}js/uploadimg.js"></script>
  <script>
  $(document).ready(function () {
    var form = $('#binfoForm');
    form.submit(function () {
      $.post(form.attr("action"),
        form.serialize(),
        function (data) {
          alert(data);
        });
      return false;
     });
    var form2 = $('#dooutForm');
    form2.submit(function () {
      $.post(form2.attr("action"),
        form2.serialize(),
        function (data) {
          alert(data);
        });
      return false;
     });
  });
  </script>
</body>
</html>
