{% extends "dfth/base.html" %}
{% block pagebody %}
{% if 'D' in login_user.auth %}
  <form action="{% url 'dfth_purchase' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="text" name="word" /><input type="submit" value="模糊查找" />
  </form>
  <h4>原料库存<h4>
  <table>
    <tr><th>原料名称</th><th>库存数量</th><th>单位</th></tr>
    {% for s in source %}
    <tr><td>{{ s.sourcename }}</td>
      <td>{{ s.number }}</td>
      <td>{{ s.type }}</td>
    {% endfor %}
  </table></br>
  <h4>供应商列表</h4>
  <table>
    <tr><th>供应商名称</th><th>地址</th><th>电话</th></tr>
    {% for s in supplyer %}
    <tr><td>{{ s.supplyername }}</td>
      <td>{{ s.address }}</td>
      <td>{{ s.phone }}</td>
    {% endfor %}
  </table>
    <form action="{% url 'dfth_addsupplyer' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset class="add_fieldset">
      <legend><h4>新增供应商</h4></legend>
      <table class="add_table" cellspacing="1" border="1">
        <tr>
          <td><label>供应商名称:</label></td>
          <td><input type="text" name="supplyername" /></td>
        </tr>
        <tr>
          <td><label>地址:</label></td>
          <td><input type="text" name="address" /></td>
        </tr>
        <tr>
          <td><label>电话:</label></td>
          <td><input type="text" name="phone" /></td>
        </tr>
      </table>
      <p class="bton"><input type="submit" value="保存" /></p>
    </fieldset></form></br>
    <form action="{% url 'dfth_addsource' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset class="add_fieldset">
      <legend><h4>新增原料</h4></legend>
      <table class="add_table" cellspacing="1" border="1">
        <tr>
          <td><label>原料名称:</label></td>
          <td><input type="text" name="sourcename" /></td>
        </tr>
        <tr>
          <td><label>单位:</label></td>
          <td><input type="text" name="type" /></td>
        </tr>
      </table>
      <p class="bton"><input type="submit" value="保存" /></p>
    </fieldset></form></br>
  <h4>采购记录</h4>
  <table>
    <tr><th>采购流水号</th><th>供应商名称</th><th>原料名称</th><th>数量</th><th>单价</th><th>产地</th><th>生产日期</th><th>采购日期</th></tr>
    {% for p in purchase %}
    <tr><td>{{ p.id }}</td>
      <td>{{ p.supplyername }}</td>
      <td>{{ p.sourcename }}</td>
      <td>{{ p.number }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.location }}</td>
      <td>{{ p.keepdate }}</td>
      <td>{{ p.date|date:"Ymd" }}</td>
    {% endfor %}
  </table>
    <form action="{% url 'dfth_addpurchase' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset class="add_fieldset">
      <legend><h4>新增采购</h4></legend>
      <table class="add_table" cellspacing="1" border="1">
        <tr>
          <td><label>供应商名称:</label></td>
          <td><select class="order_select" name="supplyername">
                <option value ="" selected="selected"></option>
                {% for i in supplyer %}
                <option value ="{{ i.supplyername }}">{{ i.supplyername }}</option>
                {% endfor %}
              </select></td>
        </tr>
        <tr>
          <td><label>原料名称:</label></td>
          <td><select class="order_select" name="sourcename">
                <option value ="" selected="selected"></option>
                {% for i in source %}
                <option value ="{{ i.sourcename }}">{{ i.sourcename }}</option>
                {% endfor %}
              </select></td>
        </tr>
        <tr>
          <td><label>采购数量:</label></td>
          <td><input type="text" name="number" /></td>
        </tr>
        <tr>
          <td><label>单价:</label></td>
          <td><input type="text" name="price" /></td>
        </tr>
        <tr>
          <td><label>产地:</label></td>
          <td><input type="text" name="location" /></td>
        </tr>
        <tr>
          <td><label>生产日期:</label></td>
          <td><input type="text" name="keepdate" /></td>
        </tr>
      </table>
      <p class="bton"><input type="submit" value="保存" /></p>
    </fieldset></form>
{% else %}
<h1>当前帐号无权查看</h1>
{% endif %}
{% endblock %}
