<!DOCTYPE HTML>
{% load myfilter %}
<html>
<head>
<title>家视天下</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<meta content="false" id="twcClient" name="twcClient" />
<link href='../../../static/css/style.css' rel='stylesheet'/>
</head>
<body>
    <div id='categorySwipe' class='swipe titleSwipe'>
        <div class='swipe_wrap'>
	    <div class="swipe_obj" swipe_pagenum="0"><!--这个swipe_pagenum是用于计算当前分类页面是第几个的，当前页数除以3-->
	        <div class="swipe_title">
                    {% for cate in category %}
                    <div class="swipe_category {% if forloop.counter == cid|add:"0" %}pressed{% endif %}" id="{{ forloop.counter0 }}" swipe_pagenum="{{ forloop.counter0 }}"><!--这个swipe_pagenum是用于计算当前显示哪个电影类别的，放置for循环的数值就行-->
                        {{ cate.title }}
                    </div>
                    {% if forloop.counter|divisibleby:"3" %}
                    </div></div><div class="swipe_obj" swipe_pagenum={% widthratio forloop.counter 3 1 %}>
                <div class="swipe_title">
                    {% endif %}
                    {% endfor %}
		</div>
	    </div>
	</div>
	<div id='movieSwipe' class='movieSwipe'>
            <div class='swipe_wrap movie_single_page'>
                {% for k in keys %}
                <div class="swipe_obj" id="{{ k }}" swipe_pagenum="2">
                  <div class="movie_obj">
                    {% for c in list|return_item:k %}
                    <div class="swipe_image">
                        {% if charge %}
                        <a href="{{ c.link }}&wxid={{ wxid }}&opid={{ k }}"><img src="{{ c.pic }}" /></a>
                        {% else %}
                        <a href="{{ c.link }}?wxid={{ wxid }}"><img src="{{ c.pic }}" /></a>
                        {% endif %}
                        <div class="name">
                            {{ c.title|truncatechars:11 }}
                        </div>
                    </div>
                    {% endfor %}
                  </div>
                  {% if charge %}
                  <div class="more_charge">加载更多</div>
                  {% else %}
                  <div class="more_free">加载更多</div>
                  {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
<script src="../../../static/js/jquery.js">
</script>
<script src='../../../static/js/swipe.js'>
</script>
<script type="text/javascript">var wxid="{{ wxid }}";</script>
<script src='../../../static/js/index.js'>
</script>
</html>
